@media only screen and (min-width: 800px) {
  .weather {
    width: 100%;
    color: white;
    text-shadow: 2px 2px #301b3f;
    text-align: right;
    margin-right: 15%;
  }
}

@media only screen and (max-width: 799px) {
  .weather {
    width: 100%;
    color: white;
    text-shadow: 2px 2px #301b3f;
  }
}
