@media only screen and (min-width: 601px) {
  .weather {
    width: 100%;
    color: white;
    text-shadow: 2px 2px rgb(58, 58, 58);
    text-align: right;
    margin-right: 15%;
  }
}
@media only screen and (max-width: 600px) {
  .weather {
    width: 100%;
    color: white;
    text-shadow: 2px 2px rgb(58, 58, 58);
  }
}
