.researchBtn,
.articleBtn {
  padding: 10px;
  margin-top: 2%;
  border-style: none;
  font-size: 1.15em;
  cursor: pointer;
  color: white;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.researchBtn,
.articleBtn {
  width: 150px;
  border-radius: 0;
}

.researchBtn {
  background-color: #184d47;
}

.articleBtn {
  background-color: #3c415c;
}

.articleBtn:hover,
.researchBtn:hover {
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
}

.articleCard {
  color: whitesmoke;
}

@media only screen and (max-width: 799px) {
  .researchBtn,
  .articleBtn {
    width: 50%;
  }
}

@media only screen and (max-width: 450px) {
  .articleCard h3 {
    margin-top: 20px;
    text-align: center;
  }

  .researchBtn,
  .articleBtn {
    width: 100%;
    padding: 10px;
    margin-top: 0px;
  }
}
