.newsContainer {
  padding-top: 20px;
  padding-left: 15%;
  padding-right: 15%;
}

.lastRow {
  margin-bottom: 15px;
}

hr {
  border: 2px solid #301b3f;
  border-radius: 5px;
  margin-top: 15px;
}

@media only screen and (max-width: 450px) {
  hr {
    display: none;
  }

  .newsContainer {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
