.footer {
  margin-top: 10px;
  color: white;
  display: grid;
  align-items: center;
  background-color: black;
  text-align: center;
}

.newsApi {
  text-decoration: none;
  color: #2ecc71;
}

.github {
  text-decoration: none;
  color: #3498db;
}
