.header {
  display: flex;
  align-content: center;
  align-items: center;
  height: 10vh;
  background-color: #696969;
  box-shadow: 2px 2px 6px 4px #ccc;
}

.title {
  color: white;
  padding-left: 15%;
  width: 100%;
}
