@media only screen and (min-width: 800px) {
  .header {
    display: flex;
    align-content: center;
    align-items: center;
    min-height: 60px;
    height: 10vh;
    background-color: #696969;
    box-shadow: 2px 2px 6px 4px #ccc;
  }

  .title {
    color: white;
    text-shadow: 2px 2px rgb(58, 58, 58);
    padding-left: 15%;
    width: 100%;
  }
}

@media only screen and (max-width: 799px) {
  .header {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center;
    min-height: 100px;
    height: 20vh;
    background-color: #696969;
    box-shadow: 2px 2px 6px 4px #ccc;
  }

  .title {
    color: white;
    text-shadow: 2px 2px rgb(58, 58, 58);
    width: 100%;
  }
}
